<meta charset="utf-8" />
<meta name="keywords" content="Cars, Used Cars, Luxury Cars, Dealerships, Dealership, Cars for sale">
<meta name="viewport" content="width=device-width, initial-scale=1" />

{{#if meta_description}}
    <meta name="description" content="{{meta_description}}">
{{/if}}

{{#if meta_img}}
    <meta name="og:image" content="{{meta_img}}">
{{/if}}

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>

<link rel="stylesheet" href="/assets/css/libs.bundle.css" />
<link rel="stylesheet" href="/assets/css/index.bundle.css" />

{{#if title}}<title>{{title}}</title>{{/if}}