<footer class="{{class}}">
  <div class="container">
    <div class="row g-2 g-lg-6 mb-4">
      <div class="col-lg-6">
        <a href="/" class="navbar-brand"><img src="{{logo}}" alt="Logo"></a>
      </div>
      <div class="col-lg-6 text-lg-end">
        <a href="tel:7075525469" class="mb-5"><h4>+1 (707) 552-5469</h4></a>
        <span class="h5">4325 Sonoma Blvd. <br>Vallejo, CA 94589</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row g-0 g-lg-6 text-secondary">
      <div class="col-lg-6 text-lg-end order-lg-2">
        <ul class="list-inline">
          <i class="bi-instagram"></i> <li class="list-inline-item"><a href="https://www.instagram.com/autolinxinc/" class="text-reset" target="_blank" rel="noopener noreferrer">instagram</a></li><br>
          <i class="bi-facebook"></i><li class="list-inline-item"><a href="https://www.facebook.com/AutoLinxVallejo" class="text-reset" target="_blank" rel="noopener noreferrer">facebook</a></li>
        </ul>
      </div>
      <div class="col-lg-6 order-lg-1">
        <ul class="list-inline">
          <li class="list-inline-item"><p>Autolinx © 2022</p></li><br>
          <li class="list-inline-item"><a href="/policy" class="text-reset">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>